*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}
html{
    font-size: 62.5%;
}
body{
    font-family: "rubik",sans-serif;
    line-height: 1;
    font-weight: 400;
    color: #555;
}

/* ************************************************ */
            /* GENERAL REUSABLE COMPONENTS*/
/* ************************************************ */
.container{
    max-width: 120rem;
    margin: 0 auto;
    padding: 0 3.2rem;
}
.grid{
    display: grid;
    gap: 9.6rem;
}
.grid--2--cols{
  grid-template-columns: repeat(2, 1fr);  
}
.grid--3--cols{
  grid-template-columns: repeat(3, 1fr);  
}

.heading-primary{
    font-size: 5.2rem;
    font-weight: 700;
    line-height: 1.05;
    letter-spacing: -0.5px;
    color: #333;
    margin-bottom: 3.2rem;
}


.btn:link, btn:visited{
    display: inline-block;
    font-size: 2rem;
    padding: 1.6rem 3.2rem;
    border-radius: 9px;
    text-decoration: none;
    font-weight: 600;
    transition: background-color 0.3s;
    
}

.btn--full:link, btn--full:visited{
    background-color: #e67e22;
    color: #fff;
}
.btn--full:hover, btn--full:active{
    background-color: #cf711f;
}
.btn--outline:link, btn--outline:visited{
    background-color: #fff;
    color: #555;
}
.btn--outline:hover, btn--outline:active{
    background-color: #fdf2e9;
    /* Trick to add border inside */
    box-shadow: inset 0 0 0 3px #fff;
}


/* ********************************* */
            /* HERO SECTION */
/* ********************************* */
.section-hero{
    background-color: #fdf2e9;
    padding: 4.8rem 0 9.6rem 0;
}
.hero{
    max-width: 130rem;
    margin: 0 auto;
    display: grid;
    padding: 0 3.2rem;
    grid-template-columns: 1fr 1fr;
    gap: 9.6rem;
    align-items: center;
}
.hero-description{
    font-size: 2rem;
    line-height: 1.6;
    margin-bottom: 4.2rem;
}
.hero-img{
    width: 100%;
}
/* ********************************* */
            /* HEADER */
/* ********************************* */
.header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #fdf2e9;
    height: 9.6rem;
    padding: 0 4.8rem;
}
.logo{
    height: 2.2rem;
}

/* ********************************* */
            /* NAVIGATION */
/* ********************************* */
.main-nav-list{
    list-style: none;
    display: flex;
    align-items: center;
    gap: 3.2rem;
}
.main-nav-link:link, .main-nav-link:visited{
    text-decoration: none;
    display: inline-block;
    font-size: 1.8rem;
    color: #333;
    font-weight: 500;
    transition: all 0.3s;
}
.main-nav-link:hover, .main-nav-link:active{
color: #cf711f;
}

.main-nav-link.nav-cta:link, .main-nav-link.nav-cta:visited{
    padding: 1.2rem 2.4rem;
    border-radius: 9px;
    color: #fff;
    background-color: #e67e22;
}
.main-nav-link.nav-cta:hover, .main-nav-link.nav-cta:active{
background-color: #cf711f;
}

/* ********************************* */
            /* HOW TO  SECTION */
/* ********************************* */

.section-how{
padding: 9.6rem 0;
background-color: orangered;
}


.margin-right-sm{
    margin-right: 1.6rem !important;
}
.delivered-meals{
    display: flex;
    align-items: center;
    gap: 1.6rem;
    margin-top: 8rem;
}
.delivered-imgs{
    display: flex;
}
.delivered-imgs img{
    height:4.8rem;
    width: 4.8rem;
    border-radius: 50%;
    margin-right: -1.6rem;
}
.delivered-imgs img:last-child{
    margin: 0;
}
.delivered-text{
    font-size: 1.8rem;
    font-weight: 600;
}